@import './base.css';


html {
  overflow-y: auto !important
}


@media print {
  header, footer, nav {
    display: none !important;
  }

  .no-print {
    display: none !important;
  }

  .print {
    display: block !important;
  }

  .page-break {
    break-before: page !important;
    page-break-before: always !important;
  }

  * {
    -webkit-print-color-adjust: exact;
    /* For Chrome, Safari */
    print-color-adjust: exact;
    /* Standard */
    animation: none !important;
    transition: none !important;
  }

}
