@import './base.css';

:root {
  --background-light: rgb(239, 212, 143);
  --logo-light-green: rgb(125, 227, 99);
  --logo-dark-green: rgb(20, 91, 11);
}

.background-light {
  background-color: var(--background-light) !important;
}

html {
  overflow-y: auto !important
}


@media print {
  header, footer, nav {
    display: none !important;
  }

  .no-print {
    display: none !important;
  }

  .print {
    display: block !important;
  }

  .page-break {
    break-before: page !important;
    page-break-before: always !important;
  }

  * {
    -webkit-print-color-adjust: exact; /* For Chrome, Safari */
    print-color-adjust: exact; /* Standard */
    animation: none !important;
    transition: none !important;
  }

}
